---
import BaseLayout from "../layouts/BaseLayout.astro";
import Icon from "../components/icon.astro";
import type { iconPaths } from "../components/IconPaths";

import Pill from "../components/work/pill.astro";

interface Job {
  company: string;
  role: string;
  date: string;
  description: string;
  skills: string[];
  icon: keyof typeof iconPaths;
}

const jobs = [
  {
    company: "Pragma",
    role: "Frontend team lead, full stack developer",
    date: "2021 - Present",
    description: `
  I lead a team of developers to build top-quality web apps for clients, using tools like Vue, web components, .Net, and TypeScript. I've helped launch several government websites and built tools to make life easier for both developers and designers. I also collaborate closely with accessibility experts and designers to create components that are not only functional but also meet top accessibility standards.
    `,
    skills: [
      "Design systems",
      "Accessibility",
      "Web development",
      "Developer tools",
    ],
    icon: "aperture",
  },
  {
    company: "MTP Services",
    role: "Technology consultant, developer",
    date: "2019 - 2021",
    description: `
I’ve had the chance to work with a wide range of front-end tools like React, Vue, and Angular, and back-end systems including Azure, SharePoint, and Adobe AEM. I’ve contributed to both large-scale products and quick-turnaround prototypes for clients. As a team lead, I’ve also been involved in product discovery and choosing the right tools for the job.
    `,
    skills: [
      "Rapid prototyping",
      "Large scale applications",
      "Feature development",
    ],
    icon: "computer-tower",
  },
  {
    company: "Accenture",
    role: "Digital technology specialist",
    date: "2018 - 2019",
    description: `
I worked closely with business analysts to provide tech consultancy on things like system architecture, security solutions, and performance improvements. I built both front-end and back-end apps with Node.js and streamlined workflows using Docker and Bash.
    `,
    skills: ["Data flow", "Data visualisation", "Data analysis"],
    icon: "greater-than",
  },
  {
    company: "Department of Defence",
    role: "Software Engineer graduate",
    date: "2016 - 2018",
    description: `
Through different rotations, I gained insight into the defense and public service sectors, especially around the growing cyber security challenges. I worked on several projects using a range of tools like React, ExpressJS, Flask, ELK Stack, MongoDB, and Apache NiFi. I also supported critical operations by offering technical solutions, picked up system administration and networking basics, built my own data transfer tool, and created graphical interfaces for data analysis.
    `,
    skills: [
      "Ops support",
      "Scripting",
      "Android development",
      "Full stack development",
      "Desktop applications",
    ],
    icon: "shield",
  },
] as Job[];
---

<BaseLayout>
  <main class="wrapper">
    <section class="work">
      <h2 class="section-title">Work Experience</h2>
      <div class="content">
        <ul>
          {
            jobs.map((job) => (
              <li>
                <div class="job">
                  <div class="job-details">
                    <div class="heading-row">
                      <div class="job-icon">
                        <Icon icon={job.icon} size={"2rem"} />
                      </div>
                      <h3>{job.company}</h3>
                    </div>
                    <b>{job.role}</b>
                    <p>{job.date}</p>
                    <p class="description" set:html={job.description} />

                    <ul class="skills-list">
                      {job.skills.map((skill) => (
                        <li class="inline">
                          <Pill name={skill} />
                        </li>
                      ))}
                    </ul>
                  </div>
                </div>
              </li>
            ))
          }
        </ul>
      </div>
    </section>
  </main>
</BaseLayout>

<style>
  .work .content ul {
    list-style: none;
    padding: 0;
    padding-top: 2rem;
    position: relative;
  }

  .work .content ul:before {
    content: "";
    position: absolute;
    width: 75%;
    height: 1px;
    background: var(--gray-100);
    top: 0;
    left: 0;
  }

  .job {
    margin-bottom: 2rem;
  }

  .job-details .heading-row {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .skills-list {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    padding: 0;
  }

  .description {
    padding-bottom: 2rem;
    padding-top: 2rem;
    width: 75%;
    line-height: 2.5;
  }
</style>
